# =========================
# JAVA / MAVEN
# =========================
**/target/
**/*.jar

# =========================
# NODE / REACT / VITE
# =========================
**/node_modules/
**/dist/

# =========================
# IDEs
# =========================
.idea/
.vscode/
*.iml

# =========================
# LOGS
# =========================
*.log
logs/

# =========================
# ENVIRONMENT
# =========================
.env
.env.*

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# DOCKER
# =========================
postgres_*_data/

# =========================
# SPRING BOOT
# =========================
**/.mvn/wrapper/maven-wrapper.jar

# =========================
# TEMP FILES
# =========================
*.tmp
*.bak